.editPostForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: white;
    z-index: 100;
    padding: 0 15px 0;
    border-radius: 10px;
}

.CloseAddPostForm {
    position: absolute;
    border: none;
    background-color: transparent;
    right: 0;
    top: 2px;
}

.editPostForm div {
    margin-bottom: 20px;
}

.editPostForm input, .editPostForm textarea {
    width: 100%;
    padding: 0;
}

.editPostForm textarea {
    height: 150px;
}

.editPostForm input {
    height: 20px;
}


.editPostForm button:hover {
    opacity: 0.7;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 99;
}