.Posts {
  width: 1000px;
  margin: 0 auto 50px;
}

.Post {
  background-color: transparent;
}

.toggle-blog-button {
  height: 60px;
  width: 200px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
  transition-duration: 500ms;
}
