.Blog-header__nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  background-color: transparent;
  padding: 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  height: 60px;
}

.Blog-header__nav-list-item{
  list-style-type: none;
  background-color: rgb(48, 43, 43);
  color: azure;
  cursor: pointer;
}

.Blog-header__nav-list-item:hover{
  opacity: 0.9;
  transition-duration: 500ms;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.Blog-header__nav-list-p{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin: 0;
}