.ac{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  background-color: transparent;
  padding: 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  height: 60px;
}

.ai{
  list-style-type: none;
  background-color: rgb(48, 43, 43);
  color: azure;
  cursor: pointer;
}

.ai:hover{
  opacity: 0.9;
  transition-duration: 500ms;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.aa{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin: 0;
  text-decoration: none;
  color: white;
}

.active {
  background-color: gray;
}
