footer{
  height: 50px;
  background-color: rgb(129, 126, 126);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer span{
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  color: white;
}