.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

::-webkit-scrollbar {
  display: none;
}

.addPostBtn {
    height: 40px;
    width: 120px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 16px;
}

